<h2><%= @project.name %></h2>

<h3>Description</h3>
<p><%= @project.description %></p>

<h3>Due Date</h3>
<p><%= @project.due_date %></p>

<h3>Completed?</h3>
<p><%= @project.finished %></p>

<h3>Level</h3>
<p><%= @project.level %></p>

<%= link_to("Delete this project", company_project_path,
        method: :delete, 
        data: { confirm: "Are you sure?" }) %>